<div class="card bg-dark text-white mx-5">
  <img
    src="{{coverImage}}"
    class="card-img"
    alt="..."
    style="width:100%;height:500px;object-fit: cover;opacity: 0.6"
  />
  <div class="card-img-overlay row">
    <div class="col align-self-end">
      <div class="d-flex justify-content-center">
        <div class="card" style="max-width: 18rem;">
          <h1 class="card-title text-center text-black mx-3">{{name}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mx-5 mt-5">
<div class="col-6">
  {{!-- start --}}
    <p>
      <span>
        {{#each skills}}
  <img
      src="{{this.image}}"
      class="img-thumbnail mx-1 mb-2"
      alt="{{this.skill_name}}"
      width="90"
      height="90"
      data-bs-toggle="collapse" data-bs-target="#{{this.skill_element}}" aria-expanded="false" aria-controls="{{this.skill_element}}"
      style="cursor: pointer;"
    />
    {{/each}}
      </span>
</p>
<div style="min-height: 120px;" id="display_data">
  {{#each skills}}
  <div class="collapse" data-bs-parent="#display_data" id="{{this.skill_element}}">
    <div class="card card-body">
      <div class="p-3 mb-2 bg-secondary text-white">{{this.skill_description}}</div>
      
    </div>
  </div>
{{/each}}
</div>
    {{!-- end --}}
</div>
<div class="col-6">
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="{{skin_default.skin_image}}"
            class="d-block w-100"
          />
          <h1 class="card-title text-center text-white bg-danger">{{skin_default.skin_name}}</h1>
        </div>
        {{!-- start --}}
        {{#each skins}}
        <div class="carousel-item">
          <img
             src="{{this.skin_image}}"
            class="d-block w-100"
          />
          <h1 class="card-title text-center text-white bg-danger">{{this.skin_name}}</h1>
        </div>
        {{/each}}
        {{!-- end --}}
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>